
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('https://www.shutterstock.com/image-photo/question-mark-on-blue-background-260nw-1595492578.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
    background-position: top;
  }
  